<!DOCTYPE html> 
<html> 
{{> head title=title}}
<body> 
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/foto saya.png">
    </div>
    {{>footer}}
</body> 
</html>
